[Unit]
Description=iptables rules
After=network.target

[Service]
ExecStart=/usr/local/sbin/jfw load
ExecStop=/usr/local/sbin/jfw flush
ExecReload=/usr/local/sbin/jfw reload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
