[Unit]
Description=iptables rules
After=network.target

[Service]
ExecStart=/etc/jfw/jfw.rules
ExecStop=/etc/jfw/jfw.rules flush
ExecReload=/etc/jfw/jfw.rules
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
